body {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

header {
    font-weight: bold;
    font-size: larger;
    text-decoration: underline;
}


#chronam_widget {
    width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #eeeeee;
    border: thin solid black;
}

#chronam_search_pages_form {
    text-align: center;
    font-size: smaller;
    border-bottom: 3px solid #eeeeee;
    margin-bottom: 15px;
    background-color: #eeeeee;
    width: 175px;
    margin-left: auto;
    margin-right: auto;
}

.chronam_page {
    margin: 10px;
    background-color: black;
}

#loading {
    vertical-align: bottom;
}

input[type=text] {
    width: 100px;
}

